*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Mynerve', cursive;
font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Poppins:ital,wght@0,500;1,700&display=swap');

.main{
    width:100%;
    height:100vh;
    background:
    /* linear-gradient(rgba(23, 49, 153, 0.7),rgba(4,9,30,0.7)), */
    url('../images/Sandtimer.jpg') center center;
    background-size:cover;
    flex-direction:column;
}
.overlay{
    width:100%;
    height:100%;
    display:flex;
    background-color:rgba(0,0,0,0.7);
    color:white;
    /* justify-content:center; */
    align-items:center;
}
.overlay {
    padding:5%;
    display:block;

}
.title{
    margin-top:10px;
    color:white;
    text-align:center;
    font-size:40px;
    
}

.col{
    width:90%;
    margin:2% ;
    /* border:1px red solid; */
    /* flec:space-between */
    display:flex;
    /* text-align:center; */
    justify-content:center;
    color:white;
}

.col div{
    width:250px;

    text-align:center;
}
input{
    width:60%;
    height:50px;
    /* display:block; */
    background-color:rgba(255,255,255,0.9);
    border-color:transparent;
    border-radius:5px;
    height:50px;
    text-align:center;
    font-size:40px;
}